@import "../../mics/predpro/style";
@import '../../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../../node_modules/node-waves/dist/waves.min.css';
@import '../../../../node_modules/jquery-ui-bundle/jquery-ui.css';
@import "./components/media";
@import "./open-iconic";
@import "./components/dashboard";
@import '../../../../node_modules/bootstrap-select/sass/bootstrap-select';

html {

}



.sidebar-sticky {
    display: flex;
    flex-direction: column;
}

.debag_bg {
    border: 1px solid #ccc;
    border-width: 1px 0 1px 0px;
    padding: 1rem 0;
    margin-bottom: 0rem;
    border-bottom: none;
    margin-top: 1rem;
}


.db_head {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #676767;
    text-transform: capitalize;
}

body {
    //   background-color: #6c757d;
    background-image: url(/public/media/admin/img/bg2.png);
    background-position: center center;
    background-size: 80px;
}

main {
    position: relative;
    z-index: 2;
}

td.fitwidth {
    width: 1px;
    white-space: nowrap;
    padding-right: 5rem;

    &-mini {
        padding-right: 0rem;
    }
}

.table-striped tbody tr {
    cursor: pointer;
}



.table {
    background-color: #fff;
}
.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 1px;
}
.table-bordered th {
    font-weight: 600;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.005);
}

.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-dropmenu {
    display: none;

    li {
        padding-left: 1rem;
    }
}

.nav-item.active {
    .nav-dropmenu {
        display: block;
    }
}


.bulpForm {
    .logo {
        a {
            font-size: 36px;
            display: block;
            width: 100%;
            text-align: center;
            color: #fff;
        }

        margin-bottom: 2rem;
    }

    &_body {
        background: #fff;
        min-height: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: relative;

        &_head {
            width: 100%;
            text-align: center;
            padding: 1.8rem 0;
        }

        &_form {
            padding: 0 1.4rem;
            padding-bottom: 1.4rem;
        }
    }

    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 10rem;
}

.autocheck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 1.6rem;
}

.autocheck {
    .form-check {
        padding-left: 0;
    }
}

h2.msg {
    font-size: 21px;
    margin-bottom: -1rem;
    margin-top: -0.5rem;
}

.filbox {
    position: relative;
}

.boxsinvs {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 100px;
    height: 28px;
    transform: translateY(-50%);
    box-sizing: border-box;
}


.filecontrols {
    display: none;


}

.boxLImaege {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    border-radius: 15px;

    &.active {
        background-color: #00e000;
        color: #fff;
    }
}

