
.header {
    background: #FF0000;
    border: 1px solid #FF0000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);

    @include rem(margin-bottom, 24px);

    &_main {

        &_desk {
            display: flex;
            align-items: center;
            @include rem(padding, 13px 0);

            justify-content: space-between;

        }
    }
}

.nav {
    @include rem(margin-left, auto);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo {

    &-head {
        display: flex;
        align-items: center;
        @include rem(margin-left, 24px);
        color: #fff;

        span {
            @include rem(margin-left, 10px);
        }
    }
}


.menu_click {

    display: flex;

}


.menu_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        background-color: #fff;
        overflow: hidden;
        @include rem(width, 18px);
        @include rem(height, 2px);

        & + div {
            @include rem(margin-top, 3px);
        }
    }
}


.menu_block {

}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
}


a {
    text-decoration: none;
    color: inherit;
}


body {
    &.body_menu_open {
        .menu {
            visibility: visible;
            // transform: translateX(0%);
        }

        main {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
        }
    }
}

.nav-catalog {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
}

.nav-item {
    width: 100%;

    @include rem(padding, 12px 31px);
    box-sizing: border-box;

    color: #202020;

    &:hover {
        background: #FF0000;
        color: #fff;
    }
}
